.main-navigation__header-nav {
  display: block;
}

.main-navigation__title {
  color: #ebebd3;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.home-icon {
  justify-content: center;
  font-size: 0.75em;
  padding-right: 0.15em;
}
