.FindPlayDatesBtn {
  display: block;
  padding: 1em 1em 1em 1em;
  width: 15em;
  border: none;
  background-color: #083d77;
  color: white;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
