.login-formHolder {
  display: block;
  justify-content: center;
  align-items: center;
  height: 50vh;

}

.login-form {
  background-color: white;
  width: 40vw;
  border-radius: 2em;
  padding: 1.5em 5em 2.5em 5em;
  box-shadow: 0 1.1em 2em #083D77;
  margin-left: auto;
  margin-right: auto;
}

.login-title {
  color: #03305f;
  font-size: 2.5em;
  margin-bottom: 0.8em;
}

.loginBtn {
  display: block;
  margin-left: auto;
  padding: 1em 3em;
  border: none;
  background-color: #083D77;
  color: white;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  margin-top: 2em;
}

.loginBtn:hover {
  background-color: #2669f8;
}

.login-errorMessage {
  position: flex;
  top: -10em;
  right: 0.2em;
  padding: 0 0.4em;
  background-color: white;
  color: #eb0404;
  font-weight: 500;
  font-size: 1em;
  z-index: 2;
}