.user-info-box {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 85vh;
    background-color: white;
    width: 50vw;
    border-radius: 2em;
    padding: 2em 6em 2em 6em;
    box-shadow: 0 1em 2em #083D77;
    margin-left: auto;
    margin-right: auto;
}

.user-info-content{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: center;
}

.user-info-title{
    display: flex;
    justify-content: center;
    color: #03305f;
    font-size: 2.5em;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}

.user-info-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border: 0.1em solid #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-radius: 1em;
    object-fit: scale-down;
}

.user-info-icon{
    display: inline-block;
    justify-content: center;
    color: #bb7101;
    font-size: 2.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.25em;
}

.user-info-value{
    display: inline-block;
    justify-content: center;
    font-size: 1.6em;
    margin-bottom: 0.2em;
    padding-left: 0.25em;
}

.user-info-line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info-intro-box{
    position: relative;
    justify-content: center;
    height: 100%;
    width: 80%;
    border: 0.15em solid #dadce0da;
    border-radius: 1em;
    padding: 0em 0em 0.2em 0em;
    outline: none;
    background: none;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
}

.user-info-icon-intro{
    display: inline-block;
    justify-content: center;
    color: #bb7101;
    font-size: 2.5em;
    padding-top: 0.2em;
    padding-left: 1.2em;
}

.user-info-intro-value{
    justify-content: center;
    font-size: 1.3em;
    padding-left: 2em;
    margin-bottom: 0.2em;
}

.info-update-btn {
    display: inline-block;
    justify-content: center;
    padding: 1em 1em;
    border: none;
    background-color: #083D77;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
    margin-top: 2.5em;
    margin-right: 3em;
}
  
.info-update-btn:hover {
    background-color: #2669f8;
}

.account-delete-btn {
    display: inline-block;
    justify-content: center;
    padding: 1em 1em;
    border: none;
    background-color: #a80404;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
    margin-top: 2.5em;
    margin-left: 3em;
}
  
.account-delete-btn:hover {
    background-color: #ff2a2a;
}

.btn-div{
    text-align: center;
}