.warning-box {
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
    width: 50vw;
    border-radius: 2em;
    padding: 2em 6em 2em 6em;
    box-shadow: 0 0em 0.5em #df0404;
    margin-left: auto;
    margin-right: auto;
}

.warning-content{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: center;
}

.warning-title{
    display: flex;
    justify-content: center;
    color: #000f2e;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0.3em;
}

.warning-icon{
    display: flex;
    justify-content: center;
    color: #bb0000;
    font-size: 12em;
}

.warning-message{
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.delete-btn-div{
    text-align: center;
}

.goback-btn {
    display: inline-block;
    justify-content: center;
    padding: 1em 1em;
    border: none;
    background-color: #083D77;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
    margin-top: 2.5em;
    margin-right: 3em;
    margin-left: 3em;
}
  
.goback-btn:hover {
    background-color: #2669f8;
}

.delete-comfirm-btn {
    display: inline-block;
    justify-content: center;
    padding: 1em 1em;
    border: none;
    background-color: #a80404;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
    margin-top: 2.5em;
    margin-left: 3em;
    margin-right: 3em;
}
  
.delete-comfirm-btn {
    background-color: #ff2a2a;
}

.warning-errorMessage {
    position: block;
    text-align: center;
    right: 0.2em;
    padding: 0.2em 0.4em;
    background-color: white;
    color: #eb0404;
    font-weight: 600;
    font-size: 1.5em;
    z-index: 2;
}
