.message-info-box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 50vh;
  background-color: white;
  width: 50vw;
  border-radius: 2em;
  padding: 2em 6em 2em 6em;
  box-shadow: 0 0em 0.5em #083d77;
  margin-left: auto;
  margin-right: auto;
}

.message-info-title {
  display: flex;
  justify-content: center;
  color: #0b46c5;
  font-size: 2em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

.info-icon {
  display: flex;
  justify-content: center;
  color: #17680c;
  font-size: 12em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 0.25em;
}
